<h1> Weekly Planner </h1>

<%= link_to "Add Task", new_task_path, class: "btn btn-primary btn-sm" %>

<ul class='list-group'>
  <div class="card-header d-flex justify-content-between">
    <h5>Monday: <%= Date.today.monday %></h5>
  </div>
  <% @tasks.each do |planner| %>
    <% if planner.week_day == Date.today.monday %>
      <%= form_with model: planner, local: false do |form| %>
        <li class='list-group-item'>
          <%= form.check_box :done %>
          <span style="<%= planner.done? ? 'text-decoration: line-through' : '' %>"><%= planner.task %></span>

          <%= form.submit 'Done' %>

          <%= link_to "Edit", edit_task_path(planner) %>
          <%=link_to "timer", countdown_timer_task_path(planner), class: "btn btn-primary btn-sm" %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<br>
<ul class='list-group'>
  <div class="card-header d-flex justify-content-between">
    <h5>Tuesday: <%= Date.today.monday+1 %></h5>
  </div>
  <% @tasks.each do |planner| %>
    <% if planner.week_day == Date.today.monday+1 %>
      <%= form_with model: planner, local: false do |form| %>
        <li class='list-group-item'>
          <%= form.check_box :done %>
          <span style="<%= planner.done? ? 'text-decoration: line-through' : '' %>"><%= planner.task %></span>

          <%= form.submit 'Done' %>

          <%= link_to "Edit", edit_task_path(planner) %>
          <%=link_to "timer", countdown_timer_task_path(planner), class: "btn btn-primary btn-sm" %>

      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>


<br>
<ul class='list-group'>
  <div class="card-header d-flex justify-content-between">
    <h5>Wednesday: <%= Date.today.monday+2 %></h5>
  </div>
  <% @tasks.each do |planner| %>
    <% if planner.week_day == Date.today.monday+2 %>
      <%= form_with model: planner, local: false do |form| %>
        <li class='list-group-item'>
          <%= form.check_box :done %>
          <span style="<%= planner.done? ? 'text-decoration: line-through' : '' %>"><%= planner.task %></span>

          <%= form.submit 'Done' %>

          <%= link_to "Edit", edit_task_path(planner) %>
          <%=link_to "timer", countdown_timer_task_path(planner), class: "btn btn-primary btn-sm" %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<br>
<ul class='list-group'>
  <div class="card-header d-flex justify-content-between">
    <h5>Thursday: <%= Date.today.monday+3 %></h5>
  </div>
  <% @tasks.each do |planner| %>
    <% if planner.week_day == Date.today.monday+3 %>
      <%= form_with model: planner, local: false do |form| %>
        <li class='list-group-item'>
          <%= form.check_box :done %>
          <span style="<%= planner.done? ? 'text-decoration: line-through' : '' %>"><%= planner.task %></span>

          <%= form.submit 'Done' %>

          <%= link_to "Edit", edit_task_path(planner) %>
          <%=link_to "timer", countdown_timer_task_path(planner), class: "btn btn-primary btn-sm" %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<br>
<ul class='list-group'>
  <div class="card-header d-flex justify-content-between">
    <h5>Friday: <%= Date.today.monday+4 %></h5>
  </div>
  <% @tasks.each do |planner| %>
    <% if planner.week_day == Date.today.monday+4 %>
      <%= form_with model: planner, local: false do |form| %>
        <li class='list-group-item'>
          <%= form.check_box :done %>
          <span style="<%= planner.done? ? 'text-decoration: line-through' : '' %>"><%= planner.task %></span>

          <%= form.submit 'Done' %>

          <%= link_to "Edit", edit_task_path(planner) %>
          <%=link_to "timer", countdown_timer_task_path(planner), class: "btn btn-primary btn-sm" %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<br>
<ul class='list-group'>
  <div class="card-header d-flex justify-content-between">
    <h5>Saturday: <%= Date.today.monday+5 %></h5>
  </div>
  <% @tasks.each do |planner| %>
    <% if planner.week_day == Date.today.monday+5 %>
      <%= form_with model: planner, local: false do |form| %>
        <li class='list-group-item'>
          <%= form.check_box :done %>
          <span style="<%= planner.done? ? 'text-decoration: line-through' : '' %>"><%= planner.task %></span>

          <%= form.submit 'Done' %>

          <%= link_to "Edit", edit_task_path(planner) %>
          <%=link_to "timer", countdown_timer_task_path(planner), class: "btn btn-primary btn-sm" %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<br>
<ul class='list-group'>
  <div class="card-header d-flex justify-content-between">
    <h5>Sunday: <%= Date.today.monday+6 %></h5>
  </div>
  <% @tasks.each do |planner| %>
    <% if planner.week_day == Date.today.monday+6 %>
      <%= form_with model: planner, local: false do |form| %>
        <li class='list-group-item'>
          <%= form.check_box :done %>
          <span style="<%= planner.done? ? 'text-decoration: line-through' : '' %>"><%= planner.task %></span>

          <%= form.submit 'Done' %>

          <%= link_to "Edit", edit_task_path(planner) %>
          <%=link_to "timer", countdown_timer_task_path(planner), class: "btn btn-primary btn-sm" %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>








